.card{
    position: relative;
    left: 200px;
    height: 100%;
    width: auto;
    float: left;
}
.title{
    font-size: 40px;
}
.description{
    text-align: center;
}
.menu{
    text-align: left;
    margin-top: 50px;
}
li{
    list-style: none;
}
.project li{
    list-style: circle
}
#content{
    position: relative;
    border: 1px solid black;
    float: right;
    width: 800px;
    height: 100%;
    right: 30%;
}

@media only screen and (max-width : 450px) {
    .title{
        font-size: 90px;
    }
    .card .description{
        margin-top: 50px;
    }
    .card li{
        margin-top: 50px;
    }
    
}












