*{
    font-family: 'Nanum Myeongjo', serif;
}
body{
    background-color: white;
}

.title{
    display: inline;
    text-align: center;
    font-size: 60px;
}
.hamburger{
    display: inline;
    border: 1px solid black;
}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  border-radius: 4px;
  
}
.card {
  position: relative;
  width: 98%;
  height: 550px;
  margin: 0 auto;
  margin-top: 30%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  cursor: pointer;
    border: 1px solid black;
    box-shadow: 5px 5px black;
}

.front, .back{
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
    
  
}

.photo img{
    position: relative;
    left: 10px;
    width: 94%;
    height: 350px;
    margin-top: 10px;
    
}
.front{
    z-index: 10;
    height: 100%;
    
}
.back{
    position: relative;
     height: 100%;
    -webkit-transform: rotateY(180deg);
    
}
.container:hover .card{
    -webkit-transform: rotateY(180deg);
    -webkit-transition: 0.6s;
    
}
.container:active .card{
    -webkit-transform: rotateY(180deg);
    -webkit-transition: 0.6s;
     
}
.container:hover .front{
    z-index: 0;
}
.container:active .front{
    z-index: 0;
}

.content-front{
    position: absolute;
    left: 10px;
    width: 94%;
    height: 175px;
    margin-top: 10px;
    text-align: right;
    margin: 0 auto;
}

.content-back{
    position: absolute;
    margin: 0 auto;
    width: 94%;
    z-index: 10;
    left: 10px;
    top: 10px;
    text-align: left;
    
}








